<div class="home_view">

	<div class="questions">
		<div ng-repeat="question in home.questions">
			<question-row
				index="{{$index}}"
				question="question"
				on-answer="home.onQuestionAnswer( response )">
			</question-row>
		</div>
	</div>

	<number-triangle></number-triangle>

	<!-- Create a component for the checkboxes -->
	<br />
	<div class="checkboxes">
		<div ng-repeat="color in home.colors">
			<input type="checkbox">{{color}}
		</div>

		<hr>

		<div ng-repeat="number in home.numbers">
			<input type="checkbox">{{number}}
		</div>
	</div>

</div>
<div ui-view></div>
