<div class="numberTriangle">

    <div class="row num1">
        <span class="number green">1</span>
    </div>
    <div class="row num2">
        <span class="number yellow">2</span>
        <span class="number yellow">2</span>
    </div>
    <div class="row num3">
        <span class="number black">3</span>
        <span class="number black">3</span>
        <span class="number black">3</span>
    </div>
    <div class="row num4">
        <span class="number brown">4</span>
        <span class="number brown">4</span>
        <span class="number brown">4</span>
        <span class="number brown">4</span>
    </div>
    <div class="row num5">
        <span class="number red">5</span>
        <span class="number red">5</span>
        <span class="number red">5</span>
        <span class="number red">5</span>
        <span class="number black">5</span>
    </div>
    <div class="row num6">
        <span class="number pink">6</span>
        <span class="number pink">6</span>
        <span class="number pink">6</span>
        <span class="number green">6</span>
        <span class="number green">6</span>
        <span class="number green">6</span>
    </div>
    <div class="row num7">
        <span class="number yellow">7</span>
        <span class="number yellow">7</span>
        <span class="number pink">7</span>
        <span class="number blue">7</span>
        <span class="number blue">7</span>
        <span class="number blue">7</span>
        <span class="number blue">7</span>
    </div>

</div>
